/* Home */

.main {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
 align-content: center;
 justify-items: center;
 padding: 20%;
}

.icon {
  width: 30px;
  height: 30px;
}

.portfoliobar {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: context-menu;
}

.tendina {
  font-size: smaller;
  text-decoration: none;
}


/* Writeme & Contributions */

.language {
  display: flex;
  flex-direction: row-reverse;
  font-size: smaller;
  cursor: context-menu;
}

.msx {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.info {
  padding: 7%;
  line-height: 2;
  text-decoration: none;
}


/* Gif */

.gifboard {
  display: grid;
  justify-content: center;
}

.animated {
  max-width: 500px;
  max-height: 500px;
  padding: 5%;
  border: 2px solid white;
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
