* {
  box-sizing: border-box;
  margin: 0;
} 

#root {
  font-family: sans-serif;
}

/* Home */

.board {
  /* background-color: palevioletred; */
  width: 100%;
  height: 100vh;
  z-index: -2;
}

.sfondo {
  height: 100vh;
  position: fixed;
  z-index: -1;
  /* filter: brightness(1.2); */
  border-radius: 50%;
  background-color: palevioletred;
  right: 25%;
}

.main {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
 align-content: center;
 justify-items: center;
 padding: 20%;
}

.icon {
  width: 30px;
  height: 30px;
}

.portfoliobar {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.tendina a {
  font-size: smaller;
  text-decoration: none;
  padding: 3px;
  line-height: 1.6;
}

/* .papaveri {
  width: 60%;
  height: 300px;
} */

/* Writeme & Contributions */

.language {
  display: flex;
  flex-direction: row-reverse;
  font-size: smaller;
  cursor: context-menu;
  padding: 3%;
}

.msx {
  text-align: center;
}

.info {
  padding: 20%;
  line-height: 2;
  color: black;
}

.info p:hover {
  color: purple
}

.info h2:hover {
  color: brown;
}

/* Coding */

/* .coding {
  background-color: palevioletred;
} */

.preview {
  max-width: 300px;
  max-height: 300px;
  padding: 2%;
  border: 2px solid purple;
}

.cardpreview {
  padding: 3%;
}

/* Gif */

.gifboard {
  display: grid;
  justify-content: center;
  background-color: palevioletred;
  height: 100vh;
}

.animated {
  max-width: 500px;
  max-height: 500px;
  padding: 5%;
  border: 2px solid white;
  background-color: black;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
