* {
  box-sizing: border-box;
  margin: 0;
} 

#root {
  font-family: sans-serif;
}


/* Home */

/* .sfondo {
  height: 100vh;
  position: fixed;
  z-index: -1;
  filter: brightness(1.2);
  border-radius: 50%;
  background-color: palevioletred;
  right: 25%;
} */

.board {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30%;
  background-color: palevioletred;
  animation-name: bello;
  animation-delay: 3s;
  animation-duration: 7s;
  animation-iteration-count: 3;
}

.main {
  background-color:palevioletred;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-content: center;
  justify-items: center;
  padding: 20%;
  animation-name: bello;
  animation-delay: 3s;
  animation-duration: 7s;
  animation-iteration-count: 3;
}

.icon {
  width: 30px;
  height: 30px;
}

.button {
  background-color: peachpuff;
  cursor: pointer;
  border: none;
  padding: 5px;
}

.pic {
  max-width: 100px;
  max-height: 100px;
  border: solid 2px black;
  border-radius: 50%;
}

@keyframes bello {
  from {background-color: rgb(197, 29, 85);}
  to {background-color: plum;}
}

/* .portfoliobar {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
} */

/* .tendina a {
  font-size: smaller;
  text-decoration: none;
  padding: 3px;
  line-height: 1.6;
} */


/* Writeme */

.contacts {
  background-color: beige;
  width: 100%;
  height: 100vh;
}

.msx {
  padding: 20%;
  line-height: 2;
  color: black;
  text-align: center;
}

.msx p:hover {
  color: purple
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: beige;
}

.pointer {
  cursor:pointer;
}

.creditslist {
  font-size: smaller;
}

.creditslist button {
  border-radius: 50%;
  border: 1px solid grey;
  text-align: right;
  cursor: pointer;
  background-color: beige;
}


/* Coding */

.preview {
  max-width: 300px;
  max-height: 300px;
  border: 2px solid purple;
}

.cardpreview {
  padding: 5%;
}


/* Gif */

.animated {
  max-width: 300px;
  max-height: 300px;
  padding: 3%;
  border: 2px solid white;
  background-color: black;
}


/* Portfolio */

.portfolio {
  width: 100%;
  height: 100vh;
  background-color: beige;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr 1fr;
}


/* .port { */
  /* height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center;
  align-items: center; */
  /* padding: 10px; */
  /* background-color: beige; */
/* } */

/* #tutto {
  display: grid;
  width: 100%;
  height: 97vh;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: beige;
} */

/* #tutto h2 {
  margin-bottom: 10px;;
} */

.cursor {
  cursor: url("../public/heart.svg"),auto;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
